body {background-color: purple;}
#main {background-image: url(IMG_0660.jpg);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	padding:10%;	
	box-shadow: 5px 5px 5px gray;
	background-color: aqua;
	border: 3px inset white;
	width:60%;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: auto;
position:absolute;}
	

#main > div{
	position:relative;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,.2);
	text-align: center;
	box-shadow: 0px 0px 100px white;
	padding:10px 0px;
	}
#main h1 {
	color:purple;
	padding: 10px;
	font-size: 2em;
	background-color: white;
	border:2px ridge black;
	border-radius: 2em;
	width:60%;
	margin-left: auto;
	margin-right: auto;

	}
#input {
	padding:50px;
	padding-bottom:20px;
	

	}
#input input {
	text-align: center;
	width:60%;
}	
#error {display: none;
color:purple;
background-color: white;
border:2px solid black;
border-radius: 1em;margin-top: 5px;}
#list {
	position:center;
	width:60%;
	margin:0 auto;
	padding-top:20px ;
	}	
.item {cursor:pointer;
	padding:5px 0px;
	background-color: yellow;
	border: 2px solid black;
	border-top: 0px solid black;
	border-radius: 1em;
}

.item:before {
	content: " \2003";
    position: relative;
	}
.item p {
	display:inline;padding-right: 10px;
	}
.item:first-child{
	border-top: 2px solid black;
	}

i {float: right;margin-right: 5px;}
.strike {background-color:green; 
	}
.strike:before {
    content: "\2713";
    position: relative;
   color:red;
}

